@media only screen and (max-width: 399px)
{
    
}
@media (min-width: 400px) 
{

}
@media (min-width: 550px) 
{

}
@media (min-width: 750px) 
{
    .inviz
    {
        display: flex;
    }
}
@media (min-width: 1000px) 
{

}
@media only screen and (min-width: 1400px) 
{
    .logo
    {
        width: 164px;
        margin-left: 3.2rem;
        margin-top: 1.2rem;
    }
    header
    {
        margin-bottom: 1.6rem;
    }
    header
    .hat_menu
    {
        margin-top: -2.95rem;
        margin-right: 4.55rem;
    }
    .first_block
    {
        padding-bottom: 1.2rem;
    }
    .first_block
    .first_block_white_text
        .to100k
        {
            line-height: 7rem;
            font-size: 1.5rem;
            margin-top: -0.2rem;
            margin-left: 1.7rem;
            letter-spacing: -0.035rem;
        }
        .first_block
        .first_block_white_text
        .for10min
        {
            line-height: 5.5rem;
            font-size: 1.75rem;
            margin-top: -6rem;
            margin-left: 1.8rem;
        }
        .first_block
        .first_block_gray_block
        {
            margin-top: 1.6rem;
            width: 70.25rem;
            margin-right: 10rem;
            margin-left: 9.8rem;
        }
        .first_block
        .needed_summ
        {
            line-height: 3.1rem;
            font-size: 1.38rem;
            margin: 1.5rem 0 0 1.8rem;
        }
        .first_block
        .count
        {
            width: 9rem;
            height: 2.97rem;
            margin: -2.3rem 1.5rem auto auto;
        }
        .first_block
        .count
        .count_value
        {
            margin: -0.35rem 0.8rem auto auto;
        }
        .first_block
        .slider
        {
        width: 95.8%;
        margin: 0.4rem auto 0.42rem 1.5rem ;
        height: 1rem;
        }
        .first_block
        .min_and_max
        {
            font-size: 1.15rem;
        }
        .first_block
        .min_and_max
        .min
        {
            margin: -1.75rem auto auto 1.5rem;
        }
        .first_block
        .min_and_max
        .max
        {
            margin: -3.5rem 1.4rem auto auto;
            text-align: right;
        }
        .first_block
        .input_space_name
        .FIO
        {
            margin: -1.55rem auto 0 1rem;
        }   
        .first_block
        .input_space_name
        .phone
        {
            margin: -1.55rem auto 0 0.55rem;
        }
        .first_block
        .input_space
        .input_name
        {
            margin: -0.8rem auto 0 1rem;
        }
        .first_block
        .input_space
        .input_phone
        {
            margin: -0.8rem auto 0 0.5rem;;
        }
        .first_block
        .input_information_in_the_box
        {
            width: 21.2rem;
            height: 3.5rem;
        }
        .button
        {
            width: 21.2rem;
            height: 3.5rem;
        }
        .main_button
        {
            margin: 1.125rem auto 0 0rem;
        }
        .first_block
        .lock
        {
            margin: 1.2rem auto auto 4rem;
        }
        .first_block
        .a_high_lvl_of_safety
        {
        font-size: 0.75rem;
        margin: -1.25rem auto auto 52rem;
        letter-spacing: 0;
        }
        .blue
        .probability_of_approval
        {
            margin: -2.15rem auto 0 4rem;
        }
        .check_mark
        {
            margin: -0.6rem auto 0 1rem;
        }
        .eighty_seven
        {
            margin: -1.95rem auto 0 17.9rem;
        }
        .precent
        {
            margin: -0.6rem auto 0 0.5rem;
        }
        .blue
        .first_loan
        {
            margin: -2.15rem auto 0 3.5rem;
        }
        .zero
        {
            margin: -2rem auto 0 11.3rem;
        }
        .first_block
        .agreement
        {
            margin: -0.9rem 1.8rem;
            font-size: 0.75rem;
        }
        .first_block
        .agreement
        .second_agreement
        {
            margin-top: 0.3rem;
            margin-bottom: 2.4rem;
        }
        //-------------------------------------------------------------------------------
        .second_and_fourth_blocks
        {
            padding-bottom: 5.7rem;
        }
        .text_second_third_fourth_blocks
        .gray_text
        {
            font-size: 1.38rem;
            .gray_header_2nd_block
            {
                margin: 6.35rem auto 0 -3.6rem;
            }
            .gray_header_3d_block
            {
            margin: 3.9rem auto 0 -3.6rem;
            }
            .gray_description_4th_block_first
            {
                margin: 0.9rem auto 0 -3.6rem;
            }
            .gray_description_4th_block_second
            {
                margin: 0.95rem auto 0 0.5rem;
            }
            .gray_description_4th_block_third
            {
                margin: 0.95rem auto 0 -0.2rem;
            }
        }
        .text_second_third_fourth_blocks
        .blue_title
        {
            font-size: 2.5rem;
            font-weight: bold;
            .blue_title_2nd_block
            {
                margin: -0.9rem auto 0 -3.65rem;
            }
            .blue_title_3d_block
            {
                margin: -0.25rem auto 0 -3.65rem;
            }
        }
        .second_block_picture_cards
        {
        width: 120px;
        margin-top: 2.05rem;
        margin-left: -3.6rem;
        }
        .text_second_third_fourth_blocks
        .blue_subtitle
        {
            font-size: 1.4rem;
            letter-spacing: 0.05rem;
            font-weight: bold;
        }
        .text_second_third_fourth_blocks
        .blue_subtitle
        .blue_subtitle_first
        {
            margin: -7rem auto 0 0.9rem;
        }
        .text_second_third_fourth_blocks
        .blue_text
        {
            font-size: 1.13rem;
        }
        .text_second_third_fourth_blocks
        .blue_text
        .blue_text_2nd_block_first
        {
            margin: 0.55rem auto 0 5.1rem;
        }
        .second_block_picture_phone_and_wallet
        {
            width: 120px;
            margin-top: 2.05rem;
            margin-left: 0.5rem;
        }
        .text_second_third_fourth_blocks
        .blue_subtitle
        .blue_subtitle_second
        {
            margin: -7.05rem auto 0 4.9rem;
        }
        .text_second_third_fourth_blocks
        .blue_text
        .blue_text_2nd_block_second
        {
            margin: 0.55rem auto 0 9.2rem;
        }
        .second_block_picture_hand_and_money
        {
            width: 120px;
            margin-top: 2.05rem;
            margin-left: -0.1rem;
        }
        .text_second_third_fourth_blocks
        .blue_subtitle
        .blue_subtitle_third
        {
            margin: -7.05rem auto 0 4.25rem;
        }
        .text_second_third_fourth_blocks
        .blue_text
        .blue_text_2nd_block_third
        {
            margin: 0.6rem auto 0 8.5rem;
        }
        //-------------------------------------------------------------------------------------
        .text_second_third_fourth_blocks
        .blue_text
        .blue_text_3d_block
        {
            margin: 1.7rem auto 0 -3.65rem;
        }
        .br_none
        {
            display: none;
        }
        .text_second_third_fourth_blocks
        .big_blue
        .precents_99
        {
            font-weight: 600;
            margin: -1.1rem auto 0 1.5rem;
        }
        .text_second_third_fourth_blocks
        .light_blue
        .light_blue_22px
        .approbation
        {
            margin: 0.2rem auto 0 1.5rem;
        }
        .text_second_third_fourth_blocks
        .big_blue
        .ten_minuts
        {
            font-weight: 600;
            margin: -1.1rem auto 0 6.5rem;
        }
        .text_second_third_fourth_blocks
        .light_blue
        .light_blue_22px
        .and_you_have_money
        {
            margin: 0.2rem auto 0 6.55rem;
        }
        .text_second_third_fourth_blocks
        .big_blue
        .precents_0
        {
            font-weight: 600;
            margin: -1.1rem auto 0 1.5rem;
        }
        .text_second_third_fourth_blocks
        .light_blue
        .light_blue_22px
        .first_loan_0
        {
            margin: 0.2rem auto 0 1.5rem;
        }
        .loan
        {
            margin: -2rem auto 0 5.1rem;
        }
        .button_3d_block
        {
        margin: 1.8rem auto 2.8rem -3.6rem;
        width: 21.25rem;
        display: initial;/*это в медиа убери,чтоб кнопка не центровалась*/
        }
        .third_block
        {
            padding-bottom: 0.1rem;
        }
        //-------------------------------------------------------------------------------
        .text_second_third_fourth_blocks
        .blue_title
        .blue_title_4th_block
        {
            font-weight: 600;
            font-size: 2.5rem;
            margin: 6.8rem auto 0 -3.6rem;
        }
        .blank
        {
            height: 120px;
            margin: 2.7rem auto 0 -3.6rem;
        }
        .text_second_third_fourth_blocks
        .blue_subtitle
        .fill_form
        {
            font-weight: 600;
            font-size: 1.5rem;
            margin: 5.8rem auto 0 -8rem;
        }
        .chronometer_1
        {
            margin: 1.23rem auto 0 -3.6rem;
        }
        .text_second_third_fourth_blocks
        .very_light_blue
        .five_min
        {
            margin: -1.5rem auto 0 -2.1rem;
        }
        .clock
        {
            margin: 2.7rem auto 0 0.5rem;
            height: 120px;
        }
        .text_second_third_fourth_blocks
        .blue_subtitle
        .wait_agreement
        {
            margin: 5.8rem auto 0 -3.8rem;
            letter-spacing: 0.05rem;
        }
        .chronometer_2
        {
            margin: 2.65rem auto 0 0.4rem;
        }
        .text_second_third_fourth_blocks
        .very_light_blue
        .two_min
        {
            margin: -1.5rem auto 0 2rem;
        }
        .wallet
        {
            margin: 2.7rem auto 0 -0.1rem;
            height: 120px;
        }
        .text_second_third_fourth_blocks
        .blue_subtitle
        .get_money
        {
            margin: 5.86rem auto 0 -4.5rem;
            letter-spacing: 0.05rem;
        }
        .chronometer_3
        {
            margin: 1.0rem auto 0 -0.2rem;
        }
        .text_second_third_fourth_blocks
        .very_light_blue
        .one_min
        {
            margin: -1.5rem auto 0 1.35rem;
        }
        .fourth_block
        {
            padding-bottom: 7.5rem;
        }
        //-------------------------------------------------------------------------------------
        .fifth_block
        {
            padding-bottom: 3rem;
        }
        .text_fifth_and_sixth_blocks
        .text_fifth_block
        .conditions_of_obtaining
        {
            margin: -4.1rem auto 0 -1.2rem;
        }
        .text_fifth_and_sixth_blocks
        .text_fifth_block
        .list_5th_block
        {
            margin: -4.4rem auto 0 -3.5rem;
        }
        .text_fifth_and_sixth_blocks
        .text_fifth_block
        .information_about_full_price
        {
            margin: 1.1rem auto 0 -1.2rem;
        }
        .text_fifth_and_sixth_blocks
        .text_fifth_block
        .lend_10k_for_61_day
        {
            margin: -0.8rem auto 0 -1.2rem;
        }
        .text_fifth_and_sixth_blocks
        .text_fifth_block
        .return_cosequences
        {
            margin: 1rem auto 0 -1.2rem;
        }
        .text_fifth_and_sixth_blocks
        .text_fifth_block
        .in_case
        {
            margin: -2rem auto 0 -1.2rem;
        }
        .text_fifth_and_sixth_blocks
        .agreement_and_refusing
        .agreement_link
        {
            margin: 0.8rem auto 0 -4.8rem;
        }
        .text_fifth_and_sixth_blocks
        .agreement_and_refusing
        .refusing_link
        {
            margin: -0.5rem auto 0 -4.8rem;
        }
        //-----------------------------------------------------------------------------
        .logo_footer
        {
        margin: 3.35rem auto 0 -4.9rem;
        }
        footer
        .servis
        {
            margin: 0.35rem auto 0 -4.9rem;
        }
        footer
        .contact
        {
            margin: 0.7rem auto 0 -4.9rem;
        }
        footer
        .white_line
        {
        margin: 0.75rem -4.9rem 0;
        }
        footer
        .refusing_contact
        {
            margin: 0 -4.9rem 0;
        }
        footer
        .about_price
        {
            margin: 0 -4.9rem 0;
        }
        footer
        .look_for_at_the_site
        {
            margin: 0 -4.9rem 0;
        }
}